<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
  </head>
  <body>
    <h1> 로그인 하려면 아이디, 암호를 입력해 주세요. </h1>
    <form action="/users/login" method="POST">
      <table>
        <tr>
          <td><input type="text" name="id" placeholder="아이디 : " value=<%=userId%>></td>
        </tr>
        <tr>
          <td><input type="text" name="password" placeholder="암호 :" /></td>
        </tr>
      </table>
      <input type="submit" value="로그인" />
    </form>
  </body>
</html>
